/ttf/
/ttf-unhinted/
/woff/
/woff2/
/*.css
/pref/nvim/lua/plugins/
/betterlockscreen/
/tsoding/
/.gitconfig
**/*database
**/*.sql
**/*database*
**/*.db
**/*.iso
**/*.toml-*
**/*.tar*
**/*.zip
**/*.tgz*
**/*.swp*
**/*#*
**/*.bak
**/*test*
/cask/
/st-0.9/