Xft.dpi:    96
Xft.antialias:  1
Xft.hinting:    1
Xft.hintstyle:  hintmedium
XTerm*faceName: Iosevka Nerd Font
XTerm*faceSize: 12

!XTerm*background: #000000       # Background color (dark gray)
!XTerm*foreground: #ffffff       # Foreground color (light beige)
!XTerm*color0:  #1d2021          # Black
!XTerm*color1:  #cc241d          # Red
!XTerm*color2:  #98971a          # Green
!XTerm*color3:  #d79921          # Yellow
!XTerm*color4:  #458588          # Blue
!XTerm*color5:  #b16286          # Magenta
!XTerm*color6:  #689d6a          # Cyan
!XTerm*color7:  #a89984          # Light Gray (default color)
!XTerm*color8:  #928374          # Dark Gray
!XTerm*color9:  #fb4934          # Bright Red
!XTerm*color10: #b8bb26          # Bright Green
!XTerm*color11: #fabd2f          # Bright Yellow
!XTerm*color12: #83a598          # Bright Blue
!XTerm*color13: #d3869b          # Bright Magenta
!XTerm*color14: #8ec07c          # Bright Cyan
!XTerm*color15: #ebdbb2          # Bright White

URxvt.termName: rxvt
URxvt*depth: 60
URxvt.transparent: false
URxvt.font: xft:Iosevka Nerd Font:size=14
URxvt.scrollBar: false
!URxvt.iconFile: .rexim/icons/terminal-icon.png

! Gruber-Darker
URxvt*foreground: #e4e4ef
URxvt*background: #181818
URxvt*color0:  #2E3436
URxvt*color1:  #a40000
URxvt*color2:  #4E9A06
URxvt*color3:  #C4A000
URxvt*color4:  #3465A4
URxvt*color5:  #75507B
URxvt*color6:  #ce5c00
URxvt*color7:  #babdb9
URxvt*color8:  #555753
URxvt*color9:  #EF2929
URxvt*color10: #8AE234
URxvt*color11: #FCE94F
URxvt*color12: #729FCF
URxvt*color13: #AD7FA8
URxvt*color14: #fcaf3e
URxvt*color15: #EEEEEC

URxvt.perl-ext-common:  resize-font,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt.keysym.C-minus:  resize-font:smaller
URxvt.keysym.C-equal:  resize-font:bigger
URxvt.keysym.C-0:      resize-font:reset
